{{outlet "showtask"}}


  <div class="row">
{{#if isExpanded}}

{{else}}


	{{!--<span {{action "toggleBody" }}>{{#link-to "tasks.add"}}add new task{{/link-to}}</span>--}}


{{#each model as |task|}}
 {{#task-item item=task}}
 <button type="button" class="btn-xs btn-default">start/pause</button>
      {{#unless item.is_complete}}
  	<button type="button" class="btn-xs btn-default" {{action "finishTask" task}}>finish</button>
		{{/unless}}
  
  <button type="button" class="btn-xs btn-default" {{action "deleteTask" task}}>delete</button>
 {{/task-item}}
 {{/each}}



{{/if}}
    </div>
{{outlet}}



